<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\log.txt">


	<extensions>
		<!-- load NLog.Extended to enable ASP.NET-specific functionality -->
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="allfile" fileName="C:\Users\kolsz\source\repos\CatFacts/all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exeption:format=tostring}" />

		<target xsi:type="File" name="httpClientInfo" fileName="C:\Users\kolsz\source\repos\CatFacts/httpClientInfo-${shortdate}.txt"
				layout="${message} ${exeption:format=tostring}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="CatFacts.Controllers.*" minlevel="Information" maxlevel="Information" writeTo="httpClientInfo" />
	</rules>
</nlog>
